/* ===================================== */
/* ==========  Theme Palette  ========== */
/* ===================================== */

$primary-color: #fe7000;
$primary-detail-color: #ff9141;
$secondary-color: #606060;
$secondary-detail-color: #f9f9f9;
$text-primary-color: #a5a5a5;
$text-secondary-color: #000;
$text-default-color: #ffff;
$border-primary-color: #f4f4f4;
